/*

!.gitignore

!.config/
!.config/*
!.vim/
!.vim/*
.vim/plugin/env.vim
.vim/plugged/
.vim/plugged/*

!.bin/
!.bin/*
!.dircolors/
!.dircolors/*

!.tmux.conf
!.bashrc
!.bash_profile
!.vimrc
!.Rprofile

*/.DS_Store
